<template>
  <Page>
    <ActionBar title="Welcome to NativeScript-Vue!" />
    <GridLayout columns="*" rows="*">
      <card-view
        col="0"
        row="1"
        colspan="3"
        class="card"
        margin="10"
        elevation="0"
        radius="5"
        @tap="scan"
      >
        <stack-layout>
          <Image class="scan" src="~/barcode.jpg" stretch="fill" />
        </stack-layout>
      </card-view>
    </GridLayout>
  </Page>
</template>

<script >
import fbstuff from "../fbstuff";
import locationStuff from "../locationStuff";

const http = require("tns-core-modules/http");
const dialogs = require("tns-core-modules/ui/dialogs");
const FeedbackPlugin = require("nativescript-feedback");
const feedback = new FeedbackPlugin.Feedback();
import { TNSFancyAlert } from "nativescript-fancyalert";
import scandit2 from "../scandit";
let localStorage = require("nativescript-localstorage");

export default {
  data() {
    return {
      msg: "Hello World!"
    };
  },
  methods: {
    scan() {
      console.log("Scandit Called");
      scandit2.init();
    }
  }
};
</script>

<style scoped lang="scss">
@import "../app-variables";
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}
.chat-icon {
  width: 20;
  height: 20;
  margin-left: 290;
}

.dot-icon {
  width: 10;
  height: 10;
  margin-left: 303;
}

.card {
  background-color: #ffffff;

  label {
    text-align: center;
    margin-top: 10;
  }
  .cog,
  .scan {
    width: 200;
    height: 200;
    margin-top: 25;
    margin-bottom: 5;
  }
}
</style>
